### Import the relevant packages

In [84]:
import pandas as pd
from cassandra.cluster import Cluster

### Create a session connection to Cassandra cluster

In [85]:
clstr = Cluster()
session = clstr.connect()

### Use session to 'talk' to cassandra and drop the keyspace if it already exists

In [86]:
session.execute("DROP KEYSPACE IF EXISTS midterm02")

### Iterate through the results and print the names of the keyspaces.

In [87]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

### Creating a Keyspace with the name midterm02 with a replication factor of 3 which denotes that there are 3 copies of data to be stored across multiple nodes in the cluster

In [88]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS midterm02 WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

### THe created keyspace can be viewed below

In [89]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
midterm02
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

### Creating the Table STructure with the necessary data types

#### user_id - This is the primary key which contains the unique valuess of all the files. It takes the int datatype.
#### date - This consists of alphanumeric characters in it. Hence, it is allotted with the VARCHAR datatype.
#### file_name - This field displays the type of the file, whether it is a video, photo or a file of different type. It is shown using the TEXT data type.
#### file_name - This is the attachment name and it is stored using the TEXT datatype.

In [90]:
session.execute("""
CREATE TABLE IF NOT EXISTS midterm02.chat ( 
    user_id INT, 
    date VARCHAR, 
    file_type TEXT, 
    file_name TEXT,
    PRIMARY KEY(user_id)
);
""")

### The data is present in a csv file and this is loaded into a data frame here

In [91]:
df = pd.read_csv('chat.csv')
df

    user_id          date file_type         file_name
0      1000  '09/10/2023'     'txt'     'Information'
1      1001  '10/12/2023'     'img'         'WebPage'
2      1002  '10/12/2023'     'mp4'       'transport'
3      1003  '05/01/2024'     'img'        'TermExam'
4      1004  '04/07/2024'     'txt'  'studentdetails'
5      1005  '22/03/2024'     'img'      'Enrollment'
6      1006  '04/11/2023'     'txt'     'Internships'
7      1007  '15/01/2023'     'img'      'Graduation'
8      1008  '03/08/2024'     'mp4'       'Retention'
9      1009  '06/09/2024'     'img'          'Finals'
10     1011  '06/09/2024'     'txt'  'Quarterresults'
11     1012  '24/11/2024'     'img'     'Hospitality'

### The below statement shows the data present in the CSV file.

In [92]:
for index, row in df.iterrows():
    print(f"user_id = {row.user_id}, date ={row.date}, file_type = {row.file_type}, file_name = {row.file_name}")

user_id = 1000, date ='09/10/2023', file_type = 'txt', file_name = 'Information'
user_id = 1001, date ='10/12/2023', file_type = 'img', file_name = 'WebPage'
user_id = 1002, date ='10/12/2023', file_type = 'mp4', file_name = 'transport'
user_id = 1003, date ='05/01/2024', file_type = 'img', file_name = 'TermExam'
user_id = 1004, date ='04/07/2024', file_type = 'txt', file_name = 'studentdetails'
user_id = 1005, date ='22/03/2024', file_type = 'img', file_name = 'Enrollment'
user_id = 1006, date ='04/11/2023', file_type = 'txt', file_name = 'Internships'
user_id = 1007, date ='15/01/2023', file_type = 'img', file_name = 'Graduation'
user_id = 1008, date ='03/08/2024', file_type = 'mp4', file_name = 'Retention'
user_id = 1009, date ='06/09/2024', file_type = 'img', file_name = 'Finals'
user_id = 1011, date ='06/09/2024', file_type = 'txt', file_name = 'Quarterresults'
user_id = 1012, date ='24/11/2024', file_type = 'img', file_name = 'Hospitality'

### The data in the CSV file is inserted into the keyspace here using the INSERT statement below

In [93]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)     
        VALUES ({row.user_id}, {row.date}, {row.file_type}, {row.file_name});
        """
    )
    session.execute(f"""
        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)     
        VALUES ({row.user_id}, {row.date}, {row.file_type}, {row.file_name});
        """
    )

        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1000, '09/10/2023', 'txt', 'Information');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1001, '10/12/2023', 'img', 'WebPage');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1002, '10/12/2023', 'mp4', 'transport');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1003, '05/01/2024', 'img', 'TermExam');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1004, '04/07/2024', 'txt', 'studentdetails');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1005, '22/03/2024', 'img', 'Enrollment');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1006, '04/11/2023', 'txt', 'Internships');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1007, '15/01/2023', 'img', 'Graduation');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1008, '03/08/2024', 'mp4', 'Retention');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1009, '06/09/2024', 'img', 'Finals');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1011, '06/09/2024', 'txt', 'Quarterresults');


        INSERT INTO midterm02.chat (user_id, date, file_type, file_name)
        VALUES (1012, '24/11/2024', 'img', 'Hospitality');

### The below query outputs the userid, date, file_type and file_name from the keyspace

In [94]:
rows = session.execute("select (user_id, date, file_type, file_name) from midterm02.chat")
for row in rows:
    print(f"user_id={row[0][0]}, date={row[0][1]}, file_type={row[0][2]}, file_name={row[0][3]}")

user_id=1009, date=06/09/2024, file_type=img, file_name=Finals
user_id=1006, date=04/11/2023, file_type=txt, file_name=Internships
user_id=1008, date=03/08/2024, file_type=mp4, file_name=Retention
user_id=1011, date=06/09/2024, file_type=txt, file_name=Quarterresults
user_id=1004, date=04/07/2024, file_type=txt, file_name=studentdetails
user_id=1007, date=15/01/2023, file_type=img, file_name=Graduation
user_id=1005, date=22/03/2024, file_type=img, file_name=Enrollment
user_id=1001, date=10/12/2023, file_type=img, file_name=WebPage
user_id=1012, date=24/11/2024, file_type=img, file_name=Hospitality
user_id=1003, date=05/01/2024, file_type=img, file_name=TermExam
user_id=1002, date=10/12/2023, file_type=mp4, file_name=transport
user_id=1000, date=09/10/2023, file_type=txt, file_name=Information

### The below statement returns all the records of a particular user_id in the keyspace

In [95]:
rows = session.execute("select * from midterm02.chat where user_id = 1008")
for row in rows:
    print(f"{row[0]}, {row[1]}, {row[2]}, {row[3]}")

1008, 03/08/2024, Retention, mp4

### The below query displays the output of all the fields which have the user_id as '1002'. It searches for the particular userid and returns the attachment associated with that user_id

In [96]:
rows = session.execute("select file_name from midterm02.chat where user_id = 1002")
for row in rows:
    print(f"{row[0]}")

transport

### THe below query deletes all the records in the keyspace which has a user id of '1005'

In [97]:
rows = session.execute("delete from midterm02.chat where user_id = 1005")
for row in rows:
    print(f"{row[0],row[1],row[2],row[3]}")

### It is observed that the records of '1005' user id is not present in the output below.

In [98]:
rows = session.execute("select * from midterm02.chat")
for row in rows:
    print(f"{row[0],row[1],row[2],row[3]}")

(1009, '06/09/2024', 'Finals', 'img')
(1006, '04/11/2023', 'Internships', 'txt')
(1008, '03/08/2024', 'Retention', 'mp4')
(1011, '06/09/2024', 'Quarterresults', 'txt')
(1004, '04/07/2024', 'studentdetails', 'txt')
(1007, '15/01/2023', 'Graduation', 'img')
(1001, '10/12/2023', 'WebPage', 'img')
(1012, '24/11/2024', 'Hospitality', 'img')
(1003, '05/01/2024', 'TermExam', 'img')
(1002, '10/12/2023', 'transport', 'mp4')
(1000, '09/10/2023', 'Information', 'txt')

In [100]:
with open("test.txt","w") as fout:
    fout.write('THis is the text file')

In [103]:
with open("test.txt","r") as fin:
    tmp=fin.read()